@import "tailwindcss";
@tailwind components;
@tailwind utilities;
@tailwind base;
@layer utilities {
  .border-primary {
    border-width: 2px;
    border-color: black;
  }

  .shadow-custom {
    box-shadow: 4px 4px 2px 0px #ffffff;
  }
  .button-primary {
    background-color: white;
    color: black;

    padding-left: 1.25rem; /* px-5 */
    padding-right: 1.25rem;
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem;

    font-weight: 700; /* font-bold */

    border: 2px solid black;
    border-radius: 0.375rem; /* rounded-md */

    box-shadow:
      4px 4px 0px 0px black,
      /* main shadow */ 6px 6px 0px 0px white;
    transition: all 150ms ease-in-out;
  }

  .button-primary:active {
    transform: translateX(0.1875rem) translateY(0.1875rem);
    /* active:translate-x-0.75 & translate-y-0.75 */

    box-shadow: none; /* active:shadow-none */
  }
  .task-container {
    border-width: 4px;
    border-color: black;
    box-shadow:
      4px 4px 0px 0px black,
      /* main shadow */ 6px 6px 0px 0px white;
  }
}
/* "bg-white 
text-black 
px-5 py-2 
font-bold 
border-2 
border-black 
rounded-md 
shadow-black 
shadow-[4px_4px_2px_0px_#ffffff] 
active:translate-x-0.75 
active:translate-y-0.75 
active:shadow-none 
transition-all" */
